@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mobile {
  display: block;
}

#desktop {
  display: none;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fafafa;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 1rem;
  padding-top: 1.5rem;
}

.sidebar {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/icon-menu.svg");
  width: 32px;
  height: 18px;
}

.sidebar-close-button {
  background-image: url("/images/icon-close-menu.svg");
  width: 26px;
  height: 26px;
}

.sidebar-transparent {
  width: 34%;
  min-height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: black;
  opacity: 0.7;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sidebar-navigation {
  width: 66%;
  min-height: 100vh;
  position: absolute;
  z-index: 2;
  left: 33%;
  top: 0;
  background-color: white;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
}

.sidebar-close-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1rem;
  padding-top: 1.25rem;
}

.mobile-navigation-section,
.features-navigation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-navigation-section {
  padding-left: 1.5rem;
  padding-top: 2rem;
}

.features-navigation {
  padding-left: 1.5rem;
}

.mobile-navigation-title,
.feature-navigation-title,
.authentication p,
.desk-authentication p {
  font-size: 16px;
  color: dimgray;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

.mobile-navigation-title {
  margin-bottom: 2rem;
}

.feature-navigation-title {
  margin-bottom: 1.5rem;
}

.feature-navigation-title:last-child {
  margin-bottom: 2rem;
}

#feature-icon,
#company-icon {
  margin-bottom: 2px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.displayNone {
  display: none;
}

.authentication {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication p,
.desk-authentication p {
  font-size: 14px;
  padding: 0.75rem 1rem;
  width: 80%;
  font-weight: 400;
  text-align: center;
}

.authentication p:last-child,
.desk-authentication p:last-child {
  border: 1px solid dimgray;
  border-radius: 0.9rem;
}

.main-image {
  margin-top: 1rem;
}

.main-image img {
  width: 100%;
}

.title {
  font-size: 2.25rem;
  color: #141414;
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
}

.paragraph {
  color: dimgray;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  margin: 1rem 0;
}

.learn-more {
  font-family: "Epilogue", sans-serif;
  color: #fafafa;
  background-color: #141414;
  font-weight: 500;
  border-radius: 0.9rem;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.25rem;
  margin: 0 auto;
}

.icons-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}

.icon-1 img,
.icon-2 img,
.icon-3 img,
.icon-4 img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (min-width: 1000px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
  }
  .desk-nav {
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .desk-logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desk-logo-nav .desk-logo {
    margin-left: 2.5rem;
    margin-right: 3.5rem;
    cursor: pointer;
  }
  .desk-navigation-title {
    font-size: 18px;
    color: dimgray;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    margin: 0 1.5rem;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .desk-navigation-title::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 3px solid black;
    z-index: -1;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .desk-navigation-title:hover::after {
    width: 100%;
    -webkit-animation: border 3s;
            animation: border 3s;
  }
  .desk-navigation-title:hover {
    color: #141414;
  }
  .desk-navigation-title img {
    margin-bottom: 3px;
  }
  .desk-authentication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desk-authentication p {
    font-size: 18px;
    margin-right: 2rem;
    -webkit-transition: color 0.5s ease, border 0.5s ease;
    transition: color 0.5s ease, border 0.5s ease;
    cursor: pointer;
  }
  .desk-authentication p:hover {
    color: #141414;
  }
  .desk-authentication p:last-child {
    border: 2px solid dimgray;
  }
  .desk-authentication p:last-child:hover {
    border: 2px solid #141414;
  }
  .desktop-feature-modal,
  .desktop-company-modal {
    position: absolute;
    z-index: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    top: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
  .desktop-company-modal.displayNone,
  .desktop-feature-modal.displayNone {
    display: none;
  }
  .feature-navigation-title,
  .feature-navigation-title:last-child {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .desktop-feature-modal {
    right: 80%;
  }
  .desktop-company-modal {
    left: 25%;
  }
  #desktop-feature-arrow,
  #desktop-company-arrow {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .desk-content-page {
    width: 100%;
    min-height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 1rem;
  }
  .title,
  .paragraph {
    text-align: left;
    margin-left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .title {
    font-size: 5em;
    margin-top: 20%;
  }
  .paragraph {
    padding-right: 4rem;
    margin-top: 9%;
    margin-bottom: 10%;
  }
  .desk-text-content-client,
  .desk-image {
    width: 50%;
    padding-top: 3rem;
  }
  .desk-image {
    padding-right: 8rem;
    padding-left: 6rem;
  }
  .desk-text-content-client {
    padding-right: 2rem;
    padding-left: 10rem;
  }
  .desk-image img {
    width: 100%;
  }
  .desk-text-content-client .icons-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .learn-more {
    margin: 0;
    border: 1px solid transparent;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    margin-bottom: 22%;
    padding: 1.25rem 1.75rem;
    font-size: 1.25rem;
  }
  .learn-more:hover {
    color: #141414;
    background-color: #fafafa;
    border: 1px solid #141414;
  }
  .icon-1 img,
  .icon-2 img,
  .icon-3 img,
  .icon-4 img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin: 0 0.25rem;
  }
  .icon-1, .icon-2, .icon-3, .icon-4 {
    margin: 0 0.75rem;
  }
  .icon-1, .icon-1 img {
    margin-left: 0;
  }
  @-webkit-keyframes opacity {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}
/*# sourceMappingURL=style.css.map */